body {
	color: #333333;
}

.title {
	text-align: center;
}

form {
	list-style: none;
	text-align: left;
	margin: 20px;
}
.button-style-link {
	border:none;
	background-color:transparent;
	color:blue;
	text-decoration:underline;
	font-size: 1.2em;
}