/*header*/

header {
	background-color: blue;
}

header a {
	color: white;
}
header ul {
	padding:0 ;
}
header li {
	 display: inline-block;
	 vertical-align: middle;
}

header li:nth-of-type(3) {
	float:right;
}