/*header*/

header {
<<<<<<< HEAD
	background-color: blue;
=======
	background-color: #0000BB;
>>>>>>> 7a9e3c79cfc557102d02831e00a804ffc55eb05a
}

header a {
	color: white;
}
header ul {
	padding:0 ;
}
header li {
	 display: inline-block;
	 vertical-align: middle;
}

header li:nth-of-type(3) {
	float:right;
}